{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}
<h1>NEW CATEGORY</h1>
<div class="card">
    <div class="card-body">
        <form action="/admin/categories/new" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" placeholder="Category" class="form-control mb-2">
        <label for="slug">Slug: </label>
        <input type="text" name="slug" id="slug" placeholder="Slug" class="form-control">
        <button type="submit" class="btn btn-success mt-4">Create category</button>
    </form>
    </div>
</div>
